[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "6.0"
rich = "10.13.0"

[dev-packages]
pylint = "2.11.1"
pytest = "6.2"

[requires]
python_version = "3.10"
